# Default ignored files
/shelf/
/.idea/
# Datasource local storage ignored files
/../../../../../../:\Users\bulss\AndroidStudioProjects\Memo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/



